@charset "utf-8";

.slider {
  width: 100%;
  height: 150px;
  overflow: hidden;
  &__contents {
    width: 100%;
    height: 200px;
    position: relative;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;  /* 慣性スクロール */
  }
  &__list {
    display: flex;
    position: absolute;
  }
  &__item {
    margin-left: 16px;
    &:first-child {
      margin-left: 0;
    }
  }
}
