---
layout: default.hbs
title: slider
description: slider
keyword: slider
---

<h1>{{title}}</h1>
<div class="slider">
  <div class="slider__contents">
    <ul class="slider__list">
      <li class="slider__item">
        <img src="http://dummyimage.com/150x150/00b3a4/fff" alt="">
      </li>
      <li class="slider__item">
        <img src="http://dummyimage.com/150x150/00b3a4/fff" alt="">
      </li>
      <li class="slider__item">
        <img src="http://dummyimage.com/150x150/00b3a4/fff" alt="">
      </li>
      <li class="slider__item">
        <img src="http://dummyimage.com/150x150/00b3a4/fff" alt="">
      </li>
    </ul>
</div>
</div>